.header {
   padding: 17px 25px;
   background-image: url("/img/header-bg.jpg");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-color: #ac6f51;
}

:root {
   --font-size: 25px;
   --line-height: 1.7;

   text-transform: uppercase;
}

.header__container {
   max-width: 1594px;
}

.header__contacts {
   margin-bottom: 1036px;

   a {
      color: var(--dark-gray);
   }
}

ul {
   display: flex;
   column-gap: 67px;
   align-items: center;
   justify-content: space-between;
   background-color: #fff;

   a {
      font-weight: 500;
   }
}
