.header {
   background-image: url("/img/header-bg.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: auto;
   padding: 7px;
   background-color: #000000;

}

:root {
   --font-size: 31px;
   --font-weight: 400;
   text-transform: uppercase;
}

.header__container {
   --container-max-width: 1920px;

}

.header__contacts {
   padding-left: 163px;
   margin-bottom: 1036px;
   display: flex;
   align-items: center;

   a {
      letter-spacing: 0.5px;
      color: var(--dark-gray);
   }

   a:first-child {
      margin-right: 111px;
   }

   a:last-child {
      margin-left: 54px;
   }
}

ul {
   display: flex;
   column-gap: 67px;
   align-items: center;
   justify-content: space-between;
   background-color: #fff;
   font-family: var(--second-family);
   --font-size: 25px;
   font-size: var(--font-size);
   color: var(--dark-gray);

   a {

   }
}
