// noinspection CssUnknownTarget//noinspection CssUnknownTarget
@font-face {
   src:
      url("../resources/fonts/NewBaskervilleStd-Roman.woff2") format("woff2"),
      url("../resources/fonts/NewBaskervilleStd-Roman.woff") format("woff"),
      url("../resources/fonts/NewBaskervilleStd-Roman.svg#NewBaskervilleStd-Roman") format("svg");
   font-family: "ITC New Baskerville Std";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/NewBaskervilleStd-BoldIt.woff2") format("woff2"),
      url("../resources/fonts/NewBaskervilleStd-BoldIt.woff") format("woff"),
      url("../resources/fonts/NewBaskervilleStd-BoldIt.svg#NewBaskervilleStd-BoldIt") format("svg");
   font-family: "ITC New Baskerville Std";
   font-weight: 600;
   font-style: italic;
   font-display: swap;
}

// noinspection CssUnknownTarget
@font-face {
   src:
      url("../resources/fonts/NewBaskervilleStd-Italic.woff2") format("woff2"),
      url("../resources/fonts/NewBaskervilleStd-Italic.woff") format("woff"),
      url("../resources/fonts/NewBaskervilleStd-Italic.svg#NewBaskervilleStd-Italic") format("svg");
   font-family: "ITC New Baskerville Std";
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/HelloParisSerif-Regular.woff2") format("woff2"),
      url("../resources/fonts/HelloParisSerif-Regular.woff") format("woff"),
      url("../resources/fonts/HelloParisSerif-Regular.svg#HelloParisSerif-Regular") format("svg");
   font-family: "Hello Paris";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Avenir-Medium.woff2") format("woff2"),
      url("../resources/fonts/Avenir-Medium.woff") format("woff"),
      url("../resources/fonts/Avenir-Medium.svg#Avenir-Medium") format("svg");
   font-family: "Avenir";
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Avenir-Heavy.woff2") format("woff2"),
      url("../resources/fonts/Avenir-Heavy.woff") format("woff"),
      url("../resources/fonts/Avenir-Heavy.svg#Avenir-Heavy") format("svg");
   font-family: "Avenir";
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Avenir-Oblique.woff2") format("woff2"),
      url("../resources/fonts/Avenir-Oblique.woff") format("woff"),
      url("../resources/fonts/Avenir-Oblique.svg#Avenir-Oblique") format("svg");
   font-family: "Avenir";
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/NewBaskervilleStd-Bold.woff2") format("woff2"),
      url("../resources/fonts/NewBaskervilleStd-Bold.woff") format("woff"),
      url("../resources/fonts/NewBaskervilleStd-Bold.svg#NewBaskervilleStd-Bold") format("svg");
   font-family: "ITC New Baskerville Std";
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Avenir-Book.woff2") format("woff2"),
      url("../resources/fonts/Avenir-Book.woff") format("woff"),
      url("../resources/fonts/Avenir-Book.svg#Avenir-Book") format("svg");
   font-family: "Avenir Book";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Avenir-Black.woff2") format("woff2"),
      url("../resources/fonts/Avenir-Black.woff") format("woff"),
      url("../resources/fonts/Avenir-Black.svg#Avenir-Black") format("svg");
   font-family: "Avenir";
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Avenir-Roman.woff2") format("woff2"),
      url("../resources/fonts/Avenir-Roman.woff") format("woff"),
      url("../resources/fonts/Avenir-Roman.svg#Avenir-Roman") format("svg");
   font-family: "Avenir";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Avenir-MediumOblique.woff2") format("woff2"),
      url("../resources/fonts/Avenir-MediumOblique.woff") format("woff"),
      url("../resources/fonts/Avenir-MediumOblique.svg#Avenir-MediumOblique") format("svg");
   font-family: "Avenir";
   font-weight: 500;
   font-style: italic;
   font-display: swap;
}
