:root {
   // global
   --container-max-width: initial;
   --container-safety-indents: 15px;

   // fonts
   --font-family: "Avenir", sans-serif;
   --font-size: initial;
   --line-height: normal;
   --font-weight: 400;
   --second-family: "Baskerville", sans-serif;
   --third-family: "Paris", sans-serif;

   // Color
   --black: #000;
   --yellow: #d59d40;
   --white: #fff;
   --gray: #bebebe;
   --dark-gray: #464646;
   --dark-gray2: #0d0a09;
}
